<div class="albums-search">
    <i class="material-icons music_note">music_note</i>
    <md-input-container>
        <input ng-model="searchText" type="text" placeholder="Search Albums" ng-model-options="{debounce:500}"> 
    </md-input-container>
    <md-switch ng-model="showFavouriteAlbums" class="favouriteSwitch">Favourite</md-switch>
</div>

<div class="albums-list">
   <md-content class="album" ng-repeat="album in topAlbums | filter:searchText | filter:(showFavouriteAlbums ? {favourite:true} : '')"> 

        <i ng-click="addTofavourite(album)" ng-class="album.favourite ? 'material-icons favourite' : 'material-icons'">
                star_border
        </i>
        <md-card>
            <md-card-header>
                <md-card-header-text>
                <span class="md-title">{{album.title}}</span>
                </md-card-header-text>
            </md-card-header>
            <img ng-click="albumsDetail(album.link)" ng-src="{{album.image}}" class="md-card-image" alt="No Picture">
            <md-card-content>
                <div>
                    <span>Released: {{album.releaseDate | date:"MM/dd/yyyy" }}</span>
                    <span class="price">{{album.price}}</span>
                    <audio ng-if="album.previewUrl" controls>
                        <source src={{album.previewUrl}}>
                    </audio>
                </div>
            </md-card-content>    
      </md-card>
  </md-content>    
</div>   


