.material-icons.music_note { 
  color: #0fe09e; 
  font-size: 36px;
}
.price {
  float:right;
  font-size: 24px;
}
.favourite {
  color: #f70767;  
}
.favouriteSwitch {
  float: right;
  padding-right: 20px;
}

.albums-search {
  text-align:center
}
.albums-list {
  width: 90%;
  margin: auto;
}
.album {
  width: 350px;
  height: 650px;
  display: inline-block;
}
.album:hover
{
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.1);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 200ms ease-in;
  transform: scale(1.1);
}